In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5), index = ['a', 'b', 'c', 'd', 'e'])

In [3]:
s

a   -0.521332
b   -0.906096
c    0.701007
d    1.001596
e   -0.680489
dtype: float64

In [4]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [5]:
d = {'a': 0., 'b': 1., 'c': 2. }
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [6]:
pd.Series(d, index=['a', 'b', 'c', 'd'])

a    0.0
b    1.0
c    2.0
d    NaN
dtype: float64

In [7]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e', 'f'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
dtype: float64

In [8]:
s[0]

-0.52133249040239482

In [9]:
s[:3]

a   -0.521332
b   -0.906096
c    0.701007
dtype: float64

In [10]:
s[s > 0]

c    0.701007
d    1.001596
dtype: float64

In [11]:
s[[4, 3, 1]]

e   -0.680489
d    1.001596
b   -0.906096
dtype: float64

In [12]:
np.exp(s)

a    0.593729
b    0.404099
c    2.015781
d    2.722622
e    0.506370
dtype: float64

In [13]:
s['e'] = 12
s

a    -0.521332
b    -0.906096
c     0.701007
d     1.001596
e    12.000000
dtype: float64

In [14]:
'e' in s

True

In [15]:
'f' in s

False

In [16]:
s['f']

KeyError: 'f'

In [17]:
s.get('f')
s.get('f', np.nan)

nan

In [18]:
s + s

a    -1.042665
b    -1.812193
c     1.402013
d     2.003191
e    24.000000
dtype: float64

In [19]:
s * 2

a    -1.042665
b    -1.812193
c     1.402013
d     2.003191
e    24.000000
dtype: float64

In [20]:
np.exp(s)

a         0.593729
b         0.404099
c         2.015781
d         2.722622
e    162754.791419
dtype: float64

In [21]:
s[1:] + s[:-1] # from second to second last

a         NaN
b   -1.812193
c    1.402013
d    2.003191
e         NaN
dtype: float64

In [22]:
s = pd.Series(np.random.randn(5), name='something')

In [23]:
s

0   -0.734762
1    1.355414
2   -0.349532
3    0.190125
4    0.696796
Name: something, dtype: float64

In [24]:
s.name

'something'

In [25]:
s2 = s.rename('another')

In [26]:
s2

0   -0.734762
1    1.355414
2   -0.349532
3    0.190125
4    0.696796
Name: another, dtype: float64

In [27]:
d = { 'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.,], index=['a', 'b', 'c', 'd'])}

In [28]:
df = pd.DataFrame(d)

In [29]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [43]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [44]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [45]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [46]:
df.columns

Index(['one', 'two'], dtype='object')

In [47]:
d = { 'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.] }

In [48]:
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0